---
interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...attrs } = Astro.props as Props;

function cn(...vals: Array<string | false | null | undefined>) {
  return vals.filter(Boolean).join(' ');
}

const base = 'flex flex-col space-y-1.5 p-6';
const classes = cn(base, className);
---

<div class={classes} {...attrs}>
  <slot />
</div>
