---
interface Props {
  class?: string;
  [key: string]: any;
  href?: string;
}

const { class: className, href, ...attrs } = Astro.props as Props;

function cn(...vals: Array<string | false | null | undefined>) {
  return vals.filter(Boolean).join(' ');
}

const base = 'rounded-lg border bg-card text-card-foreground shadow-sm';
const classes = cn(base, className);
---

{
  href ? (
    <a href={href} class={classes} {...attrs}>
      <slot />
    </a>
  ) : (
    <div class={classes} {...attrs}>
      <slot />
    </div>
  )
}
